<div class="homePage" >
  <mat-card class = "openPage"> 
    <h1>
    {{title}}
    </h1>
    <p>
      Please read the following insturctions and proceed with the examination.<br>
      There are a set of 10 Questions you will have to answer.<br>
      Each question is compulsory to answer.<br>
      No negative marking.<br>
      If you are ready for the exam you can hit the below start button. 
    </p>
  </mat-card>
</div>
<button mat-raised-button routerLink="/questions" class="startButton">Start</button>
